.main-layout {
  display: grid;
  grid-template-columns:
    minmax(auto, 20px)
    minmax(auto, 1160px)
    minmax(auto, 20px);
  place-content: center;
}
.main-layout > *:not(.full) {
  grid-column: 2;
}
.main-layout > *.full {
  grid-column: 1/-1;
}
