.gallery-container {
  gap: 1.3125em;
  background-color: var(--clrPrimary1);
  padding-block: 1.5625em;
}
.gallery-card {
  position: relative;
  background-color: darkgray;
  width: 200px;
  height: 200px;
}
.gallery-card img {
  cursor: pointer;
  transition: opacity 0.5s;
}
.gallery-card img:hover {
  opacity: 0.6;
}
